:root {
  font-family: RobotoRegular;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}

html {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #151617;
  background-image: url("/static/images/topography.png");
  background-repeat: inherit;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
  width: 100%;
}

@font-face {
  font-family: "RobotoRegular";
  src: local("Roboto-Regular"),
    url("./fonts/Roboto-Regular.ttf");
    font-weight: normal;
}
@font-face {
  font-family: "RobotoFlex";
  src: local("Roboto-Flex"),
    url("./fonts/RobotoFlex-Regular.ttf");
    font-weight: 550px;
    font-stretch: 150%;
    align-items: center;
    letter-spacing: 1px;
    
}
